<div class="container-fluid form-div" style="margin-top: 12vh;margin-bottom: 4vh;">
  <div class="row">
    <div class="col-12">
      <!-- authorization form -->
      <form class="sign__form mx-auto py-2">
        <a href="index.html" class="py-2">
          <h1>Peliculas Dex</h1>
        </a>
        <div class="row">
          <div class="col-12 col-md-12 text-center">
            <input [formControl]="username" type="text" class="sign__input"
              placeholder="Usuario" autocomplete="none">
          </div>
          <div class="col-12 col-md-12">
            <p [ngClass]="{'wobble fast': !username.valid, 'fadeOut faster': username.valid }" class="animated"
              style="color: tomato;text-align: center;">
              Por favor ingresa un usuario valido (Ej. Edu_24).
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 text-center">
            <input [formControl]="pass" type="password" class="sign__input" placeholder="Password">
          </div>
          <div class="col-12 col-md-12">
            <p [ngClass]="{'wobble fast': !pass.valid, 'fadeOut faster': pass.valid }" class="animated"
              style="color: tomato;text-align: center;">
              Por favor ingresa una contrasena valida. (Ej. P@55W0Rd)
            </p>
          </div>
        </div>

        <div class="sign__group sign__group--checkbox">
          <input id="remember" name="remember" type="checkbox" checked="checked">
          <label for="remember">Recordarme</label>
        </div>

        <button class="sign__btn" (click)="login()"
          style="background-image: linear-gradient(90deg, #77ff55 0%, #28a745 100%);" type="button">Entrar</button>

        <span class="sign__text">No Tienes Cuenta? <a [routerLink]="['/signup']">Registrate!</a></span>

        <span class="sign__text"><a href="" (click)="recoverPassword()">Olvidaste La Contrasena?</a></span>


      </form>
      <!-- end authorization form -->
    </div>


  </div>
</div>