.img-thumbnail {
  max-width: 50vw;
  min-width: 17vw;
  height: 45vh;
}

.scrollbar-hide::-webkit-scrollbar {
  visibility: hidden;
  width: 12px;
  background-color: #F5F5F5; }

.option {
  animation-name: paint-in-anim;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.option:hover {
  animation-name: paint-out-anim;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes paint-out-anim {
  0%   {
  font-size: 1rem;
  color: #ffc107;
  }
  100%   {
  font-size: 1.2rem;
  color: #ff5722;
  }
}

@keyframes paint-in-anim {
  0%   {
  font-size: 1.2rem;
  color: #ff5722;
  }
  100%   {
  font-size: 1rem;
  color: whitesmoke;
  }
}

.movie-item {
  width: 25vh;
}

.movie-carousel {
  max-height: 350px;
}

@media (min-width: 360px) {
  .movie-carousel {
    max-height: 330px;
  }
}

@media (min-width: 576px) {
  .movie-carousel {
    max-height: 360px;
  }
}
@media (min-width: 768px) {
  .movie-carousel {
    max-height: 380px;
  }
}
@media (min-width: 1200px) {
  .movie-carousel {
    max-height: 400px;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: calc(50vw - 64px);
  top: calc(50vh - 64px);
  transform: scale(2.5);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dfc;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
