<div class="container-fluid">
    <div class="row">
        <!-- Movie Post Slider Start -->
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="https://as01.epimg.net/meristation/imagenes/2018/01/22/reportaje/1516604400_722996_1531823096_sumario_normal.jpg" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="https://www.cinesur.com/fr-216x326-data/fotos/aladdin-76500.jpeg" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.swiper-slide -->
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="images/movie-post/grid-slider/04.png" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.swiper-slide -->
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="images/movie-post/grid-slider/05.png" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.swiper-slide -->
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="images/movie-post/grid-slider/01.png" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.swiper-slide -->
                <!-- swiper-slide -->
                <div class="swiper-slide">
                    <div class="movie-post">
                        <div class="entry-thumbnail">
                            <img src="images/movie-post/grid-slider/02.png" alt="movie-post">
                            <div class="pulse-video pulse-video-3">
                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="entry-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                            </div>     
                            <h5 class="entry-title"><a href="#">I Wonder <span>(2019)</span></a></h5>
                            <ul class="entry-tag">
                                <li><a href="#">Action</a></li>
                                <li><span>|</span><a href="#">SiFi</a></li>
                                <li><span>|</span><a href="#">Advemture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.swiper-slide -->
            </div>
        </div>
        <!-- Movie Post Slider End -->
        <!-- Sportlight Section End -->
        <div class="sportlight-section dark default-padding-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title section-title-2">
                            <h2>Spotlight This Month</h2>
                            <a href="#">See more</a>
                        </div>
                    </div>
                </div>
                <nav class="sportlight-tab dark">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="nav-tab" aria-selected="true">Recent</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-tab" aria-selected="false">Popular</a>
                        <a class="nav-item nav-link " id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-tab" aria-selected="false">Comming Soon</a>
                        <a class="nav-item nav-link " id="nav-top-rated-tab" data-toggle="tab" href="#top-rated" role="tab" aria-controls="nav-tab" aria-selected="false">Top Rated</a>
                    </div>
                    <div class="tab-controlx">
                        <button class="prevtab"><i class="fa fa-angle-left"></i></button>
                        <button class="nexttab"><i class="fa fa-angle-right"></i></button>
                    </div>
                </nav>
                <div class="tab-content sportlight-panel" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!-- series start -->
                        <div class="movie-series">
                            <div class="movie-series-slider movie-series-slider-2 dark owl-carousel">
                                <div class="item">
                                    <div class="series-details">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/2.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/4.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- series end -->
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!-- series start -->
                        <div class="movie-series">
                            <div class="movie-series-slider movie-series-slider-2 owl-carousel owl-theme">
                                <div class="item">
                                    <div class="series-details">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/2.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/4.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- series end -->
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <!-- series start -->
                        <div class="movie-series">
                            <div class="movie-series-slider movie-series-slider-2 owl-carousel owl-theme">
                                <div class="item">
                                    <div class="series-details">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/2.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/4.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- series end -->
                    </div>
                    <div class="tab-pane fade" id="top-rated" role="tabpanel" aria-labelledby="nav-top-rated-tab">
                        <!-- series start -->
                        <div class="movie-series">
                            <div class="movie-series-slider movie-series-slider-2 owl-carousel owl-theme">
                                <div class="item">
                                    <div class="series-details">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/2.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/3.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/4.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="series-details ">
                                        <div class="entry-thumb">
                                            <img src="images/series/1.png" alt="img">
                                            <div class="play-btn-img">
                                                <a class="btn-video play-video" href="https://www.youtube.com/watch?v=XL_3eYx3OVE">
                                                    <img src="images/play-btn.png" alt="icon">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <div class="entry-rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>8.3/10
                                            </div>     
                                            <h5 class="entry-title"><a href="#">Person X <span>(2019)</span></a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- series end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Sportlight Section End -->
    </div>
</div>