<div id="spinnerOne" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div class="container-fluid invisible animated slower my-5" style="overflow-y: hidden;" id="layout">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-12 my-2">
                        <div class="section-title section-title-2">
                            <h2>Estrenos</h2>
                        </div>
                        <button class="premier__nav premier__nav--prev" type="button">
                                <i class="icon ion-ios-arrow-round-back"></i>
                        </button>
                        <button class="premier__nav premier__nav--next" type="button">
                            <i class="icon ion-ios-arrow-round-forward"></i>
                        </button>
                    </div>
                    <div class="col-12 movie-carousel">
                        <div class="owl-carousel premier__carousel" (click)="movieClicked($event, 'premiers')">    
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
            <div class="sportlight-section dark" style="background-color: transparent;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 my-4">
                            <div class="section-title section-title-2">
                                <h2>Destacados Del Mes</h2>
                                <a routerLink="catalog"><p class="option">Ver Catalogo Completo</p></a>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="w-75 my-1" style="border-top-width: 3px;"></mat-divider>
                    <nav class="sportlight-tab dark" style="background-color: transparent;">
                        <div class="nav nav-tabs" role="tablist">
                            <a (click)="setMovies('Recientes')" class="nav-item nav-link active option" id="recents-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="nav-tab" aria-selected="true">Recientes</a>
                            <a (click)="setMovies('Populares')" class="nav-item nav-link option" id="populares-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-tab" aria-selected="false">Populares</a>
                            <a (click)="setMovies('Favoritas')" class="nav-item nav-link option" id="favoritas-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-tab" aria-selected="false">Favoritas</a>
                            <a (click)="setMovies('VerDespues')" class="nav-item nav-link option" id="watchlater-tab" data-toggle="tab" href="#top-rated" role="tab" aria-controls="nav-tab" aria-selected="false">Ver Despues</a>
                        </div>
                    </nav>
                    <div class="container">   
                        <!-- content tabs -->
                        <div class="tab-content">
                            <div class="row my-4 animated fast" id="movie-content" (click)="movieClicked($event, 'spotlight')">
                                <!-- card -->
                                <!-- end card -->
                            </div>
                            <div class="row">
                                <button class="filter__btn w-25 mx-auto" style="background-image: linear-gradient(90deg, #77ff55 0%, #28a745 100%);"
                                    routerLink="{{optionSelected}}" type="button">Ver Mas
                                </button>
                            </div>
                        </div>
                </div>
                
            </div>
            <!-- Sportlight Section End -->
        </div>
    </div>
</div>
        
<!--
<div class="container-fluid">
    <div class="row  mx-4">
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <div class="col-md-12 col-12">
            <div class="row cdk-virtual-scroll-data-source-vl">
                <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="5" class="vl-viewport scrollbar-hide">  
                    <div class="item mx-1 my-2" *cdkVirtualFor="let item of premierMovies">
                        <div class="movie-post">
                            <img class="img-thumbnail poster-img" src="{{item.poster}}" alt="movie-post">
                        </div>
                    </div>               
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
<h1 class="center">Virtual Scroll using Angular 7</h1>
</div>  
-->