.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  a {
    color: white;
  }
  
  .opcionSeleccionada {
    color: rgba(255, 255, 0, 0.842);
  }
  
  /*Para que el menu este fijo*/
  .fixed-toolbar {
    position:fixed;
    z-index:999;
    max-height: 10vh;
  }