<div class="container-fluid my-5" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
     
      <!-- end filter -->
      <!-- catalog -->
      <div class="catalog" >
          <div class="container">
            <div class="row">
                <div class="col-12 mt-4">
                    <mat-accordion>
                      <mat-expansion-panel style="background: rgba(0,0,0,0.4);" [expanded]="inFilterSearch" (opened)="inFilterSearch = !inFilterSearch" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Filtro
                          </mat-panel-title>
                          <mat-panel-description>
                            Haz click aqui para aplicar un filtro y mejorar tu busqueda.
                            <mat-icon>search</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <div class="row my-2">
                            <div class="col-md-3">
                              <mat-form-field class="w-100">
                                <mat-label>Categoria</mat-label>
                                <mat-select [(ngModel)]="filterData.genre"
                                            panelClass="mat-select-panel ">
                                  <mat-option *ngFor="let genre of genresList" [value]="genre">
                                    {{genre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-label >Desde Año:</mat-label>
                                <mat-slider class="w-100"
                                    [max]="2019"
                                    [min]="1900"
                                    [thumbLabel]="true"
                                    [(ngModel)]="filterData.startYear">
                                </mat-slider>
                            </div>
                            <div class="col-md-3">
                                <mat-label>Hasta Año:</mat-label>
                                  <mat-slider class="w-100"
                                      [max]="2019"
                                      [min]="1900"
                                      [thumbLabel]="true"
                                      [(ngModel)]="filterData.endYear">
                                  </mat-slider>
                            </div>
                            <div class="col-md-3">
                                <mat-label>Desde Rating:</mat-label>
                                  <mat-slider class="w-100"
                                      [max]="5"
                                      [min]="0"
                                      [step]="0.1"
                                      [thumbLabel]="true"
                                      [(ngModel)]="filterData.startRating">
                                  </mat-slider>
                            </div>
                            <div class="col-md-3">
                                <mat-label>Hasta Rating:</mat-label>
                                  <mat-slider
                                      class="w-100"
                                      [max]="5"
                                      [min]="0"
                                      [step]="0.1"
                                      [thumbLabel]="true"
                                      [(ngModel)]="filterData.endRating">
                                  </mat-slider>
                            </div>
                          </div>
                          <mat-action-row>
                            <button class="filter__btn" style="background-image: linear-gradient(90deg, #77ff55 0%, #28a745 100%);" (click)="getMoviesByFilter()" type="button">Aplicar Filtro</button>
                          </mat-action-row>
                        </ng-template>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <!-- filter btn -->
                    <!-- end filter btn -->
                  </div>
              <div class="col-12">
                <mat-paginator  color="accent" style="background-color: #4CAF50" [length]="movieList.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" (page)="pageChange($event)">
                </mat-paginator>
              </div>
            </div>
            <div class="row">
              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-3 col-xl-2 my-1 animated fast" *ngFor="let index of indexes" [ngClass]="{'fadeInUp': fadeInUpAnimation, 'fadeIn': fadeInAnimation, 'fadeOutRight': backAnimation, 'fadeOutLeft': nextAnimation}">
                <div class="card">
                  <div class="card__cover">
                    <img src="{{movieList[index].poster}}" alt="">
                    <a routerLink="/movie/{{movieList[index].idMovie}}" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a routerLink="/movie/{{movieList[index].idMovie}}">{{movieList[index].name}}</a></h3>
                    <span class="card__category">
                      <a *ngFor="let genre of getMovieGenres(movieList[index].genres)">{{genre}}</a>
                    </span>
                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{movieList[index].grade}}</span>
                  </div>
                </div>
              </div>
              <!-- end card -->
  
              <!-- paginator -->
              
              
              <!-- end paginator -->
            </div>
          </div>
        </div>
        <!-- end catalog -->
    <div class="col-md-2">
    </div>
  </div>
</div>