.expansion-header {
    height: 48px;
}

.name-width {
  width: 75%;
}

@media (min-width: 320px) {
    .expansion-header {
        height: 85px!important;
    }
    .name-width {
      width: 100%;
    }
  }
  
  @media (min-width: 375px) {
    .expansion-header {
        height: 65px!important;
    }
    .name-width {
      width: 100%;
    }
  }
  @media (min-width: 425px) {
    .expansion-header {
        height: 48px!important;
    }
    .name-width {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .expansion-header {
        height: 48px!important;
    }
    .name-width {
      width: 100%;
    }
  }