/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";


/* Al parecer ocurre un problema con las animaciones del router por eso necesita lo que esta a continuacion*/
router-outlet ~ * {
  display: block;
}

.success-snackbar {
    background-color: #00863f!important;
    color: white!important;
    font-size: 1.3rem;
  }
  
.error-snackbar {
  background-color: #F44336!important;
  color: white!important;
  font-size: 1.3rem;
}

.center-fixed {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}
  
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #7b1fa2;
}

@keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.lds-cube {
  position: relative;
}
.lds-cube div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  background: #337ab7;
  -webkit-animation: lds-cube 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-cube 1.3s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.39s;
  animation-delay: -0.39s;
}
.lds-cube div:nth-child(2) {
  top: 10px;
  left: 110px;
  background: #5bc0de;
  -webkit-animation-delay: -0.26s;
  animation-delay: -0.26s;
}
.lds-cube div:nth-child(3) {
  top: 110px;
  left: 110px;
  background: #f0ad4e;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-cube div:nth-child(4) {
  top: 110px;
  left: 10px;
  background: #5cb85c;
  -webkit-animation-delay: -0.13s;
  animation-delay: -0.13s;
}
.lds-cube {
  width: 30px !important;
  height: 30px !important;
  -webkit-transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
  transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
}

/*Los siguientes estilos son usados para cambiar el color del scrollbar*/
  
.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #aa66cc; }


/*Son estilos para utilizar la lista virtual en modo horizontal*/
.cdk-virtual-scroll-data-source-vl .vl-viewport {
  height: 65vh;
  width: 100%;
}

.cdk-virtual-scroll-data-source-vl .vl-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-vl .vl-item {
  width: 150px;
  height: 100%;
  writing-mode: vertical-lr;
}



.dark {
  background-color: #1f1f1f;
  color: #dddddd; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p, .dark ul, .dark ol {
    color: #dddddd; }
  .dark .section-title h2, .dark .section-title a {
    color: #dddddd; }

.dark .widget {
  background: #2b2b2b; }
  .dark .widget .see-all-btn {
    color: #fefefe; }

.dark .widget.widget_tag a {
  color: #fefefe; }

.dark .show-time-tab .price-select-btn {
  background: #4d4d4d; }
  .dark .show-time-tab .price-select-btn .custom-select {
    border: 1px solid #4d4d4d;
    color: #9b9b9b; }

    .widget_title {
      border-left: 4px solid #ffab00;
      line-height: 40px;
      padding-left: 17px; }

.body-background {
  background-image: url("assets/img/home/background.jpg");
  background-color: #1f1f1f;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mat-divider {
  border-top-color: #ffab00;
  border-top-width: 3px;
}

.home--bg:before {
  content: '';
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  bottom: 0;
  left: 0;
  display: block;
  background: url("assets/img/home/background.jpg") repeat-y center/cover;
  opacity: 0.06;
}

.mat-select-panel {
  color: white;
}

.noScrollBar::-webkit-scrollbar {
  width: 0px;
}

.mat-drawer-container {
  background-color: rgba(0, 0, 0, 0);
}